@model CompraOnline.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Login";
}

<section class="container-fluid d-flex justify-content-center align-items-center" style="height: 50vh;">
    <section class="card shadow-lg border-0 rounded" style="width: 100%; max-width: 400px;">
        <section class="card-header bg-primary text-white text-center">
            <h5 class="card-title">
                <i class="bi bi-person-circle"></i> Iniciar Sesión
            </h5>
        </section>
        <section class="card-body">
            <form asp-action="Login">
                <section asp-validation-summary="All" class="text-danger mb-3"></section>
                <section class="form-group mb-3">
                    <section class="input-group">
                        <section class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                        </section>
                        <input asp-for="username" class="form-control form-control-sm text-center" placeholder="Ingrese su usuario" />
                    </section>
                    <span asp-validation-for="username" class="text-danger"></span>
                </section>
                <section class="form-group mb-3">
                    <section class="input-group">
                        <section class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        </section>
                        <input asp-for="password" class="form-control form-control-sm text-center" type="password" placeholder="Ingrese su contraseña" />
                    </section>
                    <span asp-validation-for="password" class="text-danger"></span>
                </section>
                <section class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
                    </button>
                </section>
            </form>
        </section>
        <section class="card-footer text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger btn-lg">
                <i class="bi bi-arrow-left-circle"></i> Volver al inicio
            </a>
        </section>
    </section>
</section>
@section Scripts {
    <script>

        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    alert('@Html.Raw(TempData["ErrorMessage"])');
            </text>
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
