@model CompraOnline.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Usuario</h4>
<hr />
<section class="row">
    <section class="col-md-4">
        <form asp-action="Login">
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            @* <section class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </section> *@
            <section class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </section>
            @* <section class="form-group">
                <label asp-for="nombreCompleto" class="control-label"></label>
                <input asp-for="nombreCompleto" class="form-control" />
                <span asp-validation-for="nombreCompleto" class="text-danger"></span>
            </section> *@
            <section class="form-group">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
            </section>
        </form>
    </section>
</section>

<section>
    <a asp-action="Index">Back to List</a>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
