@model CompraOnline.Models.Productos.Producto

@{
    ViewData["Title"] = "CrearProducto";
}

<h1>CrearProducto</h1>

<h4>Producto</h4>
<hr />
<section class="row">
    <section class="col-md-4">
        <form asp-action="CrearProducto">
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            @* <section class="form-group">
                <label asp-for="idProducto" class="control-label"></label>
                <input asp-for="idProducto" class="form-control" />
                <span asp-validation-for="idProducto" class="text-danger"></span>
            </section> *@
            <section class="form-group">
                <label asp-for="nombreProducto" class="control-label"></label>
                <input asp-for="nombreProducto" class="form-control" />
                <span asp-validation-for="nombreProducto" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="descripcionProducto" class="control-label"></label>
                <input asp-for="descripcionProducto" class="form-control" />
                <span asp-validation-for="descripcionProducto" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="precioPromo" class="control-label"></label>
                <input asp-for="precioPromo" class="form-control" />
                <span asp-validation-for="precioPromo" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </section>
            @* <section class="form-group">
                <label asp-for="idCategoria" class="control-label"></label>
                <input asp-for="idCategoria" class="form-control" />
                <span asp-validation-for="idCategoria" class="text-danger"></span>
            </section> *@
            <section class="form-group">
                <label asp-for="idCategoria" class="control-label"></label>
                <select asp-for="idCategoria" class="form-control" asp-items="ViewBag.Categorias">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="idCategoria" class="text-danger"></span>
            </section>
            <section class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="promocion" /> @Html.DisplayNameFor(model => model.promocion)
                </label>
            </section>

            <section asp-validation-summary="ModelOnly" class="alert alert-danger">
                <strong>Errores:</strong>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </section>

            <section class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </section>
        </form>
    </section>
</section>

<section>
    <a asp-action="Index">Back to List</a>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
