@model CompraOnline.Models.Productos.Producto

@{
    ViewData["Title"] = "EditarProducto";
}

<h1>EditarProducto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idProducto" class="control-label" hidden></label>
                <input asp-for="idProducto" class="form-control" type="hidden"/>
                <span asp-validation-for="idProducto" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreProducto" class="control-label"></label>
                <input asp-for="nombreProducto" class="form-control" />
                <span asp-validation-for="nombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcionProducto" class="control-label"></label>
                <input asp-for="descripcionProducto" class="form-control" />
                <span asp-validation-for="descripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioPromo" class="control-label"></label>
                <input asp-for="precioPromo" class="form-control" />
                <span asp-validation-for="precioPromo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <section class="form-group">
                <label asp-for="idCategoria" class="control-label"></label>
                <select asp-for="idCategoria" class="form-control" asp-items="ViewBag.Categorias">
                    <option value="">Seleccione una categoría</option>
                </select>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="promocion" /> @Html.DisplayNameFor(model => model.promocion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar producto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="productosXCategoria" class="btn btn-danger">Volver a la lista de productos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
